@model IEnumerable<IOM.Api.Resources.ProductResource>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="content"> *@
@* <div class="container-fluid"> *@
@* <div class="row"> *@
@* <div class="col-lg-1 col-md-6 col-sm-6">
    </div> *@

@* <div class="col-lg-10 col-md-6 col-sm-6"> *@

<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Description</th>
            <th class="col-md-3">Price</th>
            <th class="col-md-3">Quantity</th>
            <th class="col-md-3">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                @if (@product.ProductItems != null)
                {
                    <td>
                        @product.ProductItems.Count()
                    </td>

                }
                else
                {
                    <td></td>
                }
                @* <td>@Html.ActionLink("Inventory","Index",
                    "Item", @product.Id)</td> *@
                <td>
                    <a asp-controller="Item" asp-action="Index" asp-route-id="@product.Id">Items</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* </div> *@
@* </div>
    </div> *@
@* </div> *@